.addenda_preview{
    margin-top: 0;
    min-width: 35vw;
    vertical-align: top;
    display: inline-block;
    min-height: 71vh!important;
}

.addenda_form{
    display: inline-block;
    min-height: 71vh!important;

}

.addenda_sheet{
    position: relative;
    display: inline-block;
    max-width: 60vw;

}
